extends layout

block content
  .container-fluid
    h1 #{__('Tokens')}
    - var peers = {1: 'ABOR', 2: 'OBOR', 3: 'FDM'}
      each peer, chain in peers
        h3 #{peer}
        .row.row-horizon
          - var blocks = []
          - blocks.push({block: 1, chain: chain, nonce: 19657, txs: [{value: '25.00', from: '100-Cash', to: '400-Accts Pay'},{value: '4.27', from: '200-Accts Rec', to: '210-Allowance'},{value: '19.22', from: '300-Investments', to: '110-Restr. Cash'},{value: '106.44', from: '450-Loans', to: '120-Cash Equiv.'},{value: '6.42', from: '700-LT Debt', to: '200- Accts Rec'}], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
          - blocks.push({block: 2, chain: chain, nonce: 40333, txs: [{value: '97.67', from: '240-Oth Rec', to: '460-Notes Pay'},{value: '48.61', from: '370-Fix Assts', to: '375-Accum Dep'},{value: '6.15', from: '380-Other Assets', to: '570-APIC'},{value: '10.44', from: '360-Inventory', to: '810-Tax Exp'},{value: '88.32', from: '600-Sales', to: '670-Fee Revenue'},{value: '45.00', from: '680-FX Transl', to: '880-Other Exp'},{value: '92.00', from: '780-Wages', to: '480-Other Liab'}], previous: '0000082f9dc8a501aadfd1f139cc42e5acbc14fad4076d34e8cdc28d6a65b0b9'})
          - blocks.push({block: 3, chain: chain, nonce: 47279, txs: [{value: '10.00', from: '455-Reserves', to: '600-Unreal Gn'},{value: '5.00', from: '605-Unreal Lss', to: '600-Unreal Gn'},{value: '20.00', from: '850-Rent Exp', to: '440-Tax Payable'}], previous: '0000ebc888fc7a838e9f2444ee8c30c80a7652d7d479976488e46fc70a1234b4'})
          - blocks.push({block: 4, chain: chain, nonce: 16894, txs: [{value: '62.19', from: '320-Orig. Prem', to: '140-Due to Cust'},{value: '867.96', from: '550-Comm Stock', to: '580-Ret Earn.'},{value: '276.15', from: '755-Amort Exp', to: '140-Due to Cust'},{value: '97.13', from: '320-Orig. Prem', to: '310-Acc Intrst'},{value: '119.63', from: '550-Comm Stock', to: '610-Int Income'}], previous: '0000bd8559f90ba442d32cd5c4bbca219f512bebcc1cf9e9f19e96ed68f79f43'})
          - blocks.push({block: 5, chain: chain, nonce: 6512, txs: [{value: '14.12', from: '620-Int Exp', to: '750-Loan Loss'},{value: '2,760.29', from: '445-DTL', to: '390-DTA'},{value: '413.78', from: '325-Accum Amort', to: '675-FX GnLss'}], previous: '0000ef638d373bb333f5f7435a8c1fa4ed9b311eaded0235975b025eb0fbd6f8'})
          each block in blocks
            .col-xs-7
              include includes/tokenblock

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'number').bind('input propertychange', function() { updateChain(block, chain); });
      $('#block'+block+'chain'+chain+'nonce').bind('input propertychange', function() { updateChain(block, chain); });
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        $('#block'+block+'chain'+chain+'tx'+x+'value').bind('input propertychange', function() { updateChain(block, chain); });
        $('#block'+block+'chain'+chain+'tx'+x+'from').bind('input propertychange', function() { updateChain(block, chain); });
        $('#block'+block+'chain'+chain+'tx'+x+'to').bind('input propertychange', function() { updateChain(block, chain); });
      }
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
